table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}
.container {
  margin: 20px auto;
  max-width: 640px;
}
#containerImage{
  max-width: 100%;
  height: 376px;
  background-color: #EEEEEE;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#containerImage img{
	/*max-width: 100%;*/
}
.cropper-circle {
  border-radius: 50% !important;
}
.d-none{
  display: none;
}
.docs-buttons button{
  padding: 8px 16px;
  font-weight: bold;
  border: 1px solid gray;
  border-radius: 2px;
}
.docs-buttons #btnSaveUpload{
    background: #1A73E8; /*rgb(26, 115, 232)*/
    color: #fff;
    width: 100px;
}
.docs-buttons #btnSaveUpload:hover{
    background: rgba(26, 115, 232,.95);
}

